<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MEHv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <MEHv2.Properties.Settings>
            <setting name="SelectedEncoding" serializeAs="String">
                <value />
            </setting>
            <setting name="SegmentationType" serializeAs="String">
                <value />
            </setting>
            <setting name="SegmentationParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="ConversionListString" serializeAs="String">
                <value />
            </setting>
            <setting name="ConversionList_LookupMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopListString" serializeAs="String">
                <value />
            </setting>
            <setting name="DictionaryListString" serializeAs="String">
                <value />
            </setting>
            <setting name="RetainOnlyDictionaryWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tokenizer" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertToLowerCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLemmatization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LemmatizationModel" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateDWL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateFreqList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PruneFreqList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreqListPruneCycle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateBinary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateVerbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateRawDTM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTFIDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinWC" serializeAs="String">
                <value />
            </setting>
            <setting name="Ngram_N_Min" serializeAs="String">
                <value />
            </setting>
            <setting name="Ngram_N_Max" serializeAs="String">
                <value />
            </setting>
            <setting name="ThresholdType" serializeAs="String">
                <value />
            </setting>
            <setting name="NgramThresholdParameter" serializeAs="String">
                <value />
            </setting>
        </MEHv2.Properties.Settings>
    </userSettings>
</configuration>